<%= form_tag("/do_crawl", :method =>:post, :class=>"form-horizontal", :onsubmit=>"return $(this).validate()") do %>
  <div class="single-site-form">
  	<fieldset>
    	<legend>Single site validator</legend>
	  	<div class="field control-group">
	  		<%= label_tag :url, "URL", :class=>"control-label" %>
	  		<div class="controls">
	  			<%= text_field_tag(:url,nil,:class=>"input-large", :id=>"single-validate", 'data-validation'=>"validate_url") %>
	  		    <p class="help-block">Insert the site URL. Example: http://www.google.com</p>
	  		</div>
	  	</div>
	  	<div class="field control-group">
	  		<%= label_tag :min_keywords, "Min. # Keywords", :class=>"control-label" %>
	  		<div class="controls">
	  			<%= text_field_tag(:min_keywords,@settings.min_keywords, :class =>"input-mini", :disabled=>true) %>
	  			<p class="help-block">Numbers of keywords to be matched in order for site be a Business</p>
	  		</div>
		</div>
	  	<div class="field control-group">
	  		<%= label_tag :keywords, "Keywords", :class=>"control-label" %>
	  		<div class="controls">
		 		<%= text_area_tag(:keywords,@settings.keywords,:class=>"input-large", :id =>"keywords-select", :style=>"width: 290px;", :disabled => true) %>
		 		<p class="help-block">Add keywords using , or tabs after each word</p>

	  		</div>
	  	</div>
	  	<div class="actions form-actions">
	  		<%= submit_tag("Crawl",:class=>"btn btn-primary") %>
  		</div>
	    <p class="help-block">Insert the site URL.</p>
	</fieldset>
  </div>
<% end %>