<%= form_tag("/do_crawl", :method =>:post, :class=>"form-horizontal", :onsubmit=>"return $(this).validate()") do %>
  <div class="single-site-form">
  	<fieldset>
    	<legend>Single site validator</legend>
	  	<div class="field control-group">
	  		<%= label_tag :url, "URL", :class=>"control-label" %>
	  		<div class="controls">
	  			<%= text_field_tag(:url,nil,:class=>"input-large", :id=>"single-validate", 'data-validation'=>"validate_url") %>
	  		    <p class="help-block">Insert the site URL. Example: http://www.google.com</p>
	  		</div>
	  	</div>
	  	<div class="field control-group">
	  		<%= label_tag :min_keywords, "Min. # Keywords", :class=>"control-label" %>
	  		<div class="controls">
	  			<%= text_field_tag(:min_keywords, nil, :class =>"input-mini", 'data-validation' =>"validate_int") %>
	  			<p class="help-block">Numbers of keywords to be matched in order for site be a Business</p>
	  		</div>
		</div>
	  	<div class="field control-group">
	  		<%= label_tag :keywords, "Keywords", :class=>"control-label" %>
	  		<div class="controls">
		 		<%= text_area_tag(:keywords,nil,:class=>"input-large", :id =>"keywords-select", :style=>"width: 290px;", 'data-validation' =>"required") %>
		 		<a id="cl-btn" class="btn">Clear</a>
		 		<p class="help-block">Add keywords using , or tabs after each word</p>

	  		</div>
	  	</div>
	  	<div class="actions form-actions">
	  		<%= submit_tag("Crawl",:class=>"btn btn-primary") %>
    		<button class="btn" onClick="this.form.reset()" type="button">Reset fields</button>
  		</div>
	    <p class="help-block">Insert the site URL.</p>
  </div>
<% end %>

<table class="table table-bordered table-condensed">
	<thead class="table-bw">
		<tr>
			<th>URL</th>
			<th>Valid site?</th>
			<th>Business site?</th>
			<th>Keywords</th>
			<th>Min # of Keywords</th>
		</tr>
	</thead>
	<tr>
		<td><%= @crawler.url %></td>
		<td><%= @crawler.isActive %></td>
		<td><%= @crawler.isBusiness %></td>
		<td><%= @crawler.keywords %></td>
		<td><%= @crawler.quantity_to_match %></td>
	</tr>
</table>
<div class="span8">
	<h4>Keywords matched with internal links on <%= @crawler.url %></h4>
	<table class="table table-bordered table-condensed span6">
		<thead class="table-bw">
			<tr>
				<th>Keyword</th>
				<th>internal link</th>
			</tr>
		</thead>
		<% @crawler.matched_keywords.each do |key,value| %>
		<tr>
			<td><%= key %></td>
			<td><%= value %></td>
		</tr>
			<% end %>
	</table>
</div>
